<div class="main-content bg-dark">
  <div class="card p-4" style="max-width: 520px">
    <h1 class="h1 mb-3 card-title">Invite a Friend</h1>
    <%= render "form" %>
    <%= link_to 'Back', 'javascript:history.back()',
      class: "btn btn-outline-secondary my-1" %>
  </div>
</div>
