<div class="container w-100 min-vh-100 d-flex justify-content-center align-items-center ">
  <div class="card p-4">
    <h1 class="h1 mb-3 card-title">Invite a Friend</h1>
    <%= render "form" %>
    <%= link_to 'Back', 'javascript:history.back()',
      class: "btn btn-outline-primary my-1" %>

  </div>
</div>
