<div class="list-group-item list-group-item-action">
  <%= link_to trip_trip_day_path(trip.id, date), class: "text-secondary" do %>
    <h3 class='card-title text-secondary mb-2'><%= date.strftime("%A, %B %d") %></h3>
  <% end %>
  <% itinerary_items = trip.itinerary_by_day[date] %>
  <% if itinerary_items.present? %>
    <ul class='list-group list-group-flush'>
      <% itinerary_items.each do |itinerary_item| %>
        <%= render partial: 'item_index',
          locals: { itinerary_item: itinerary_item } %>
      <% end %>
    </ul>
  <% else %>
    <p class="text-muted mx-2">Nothing planned yet.</p>
  <% end %>
</div>

