<div class="container">

  <%= render partial: 'shared/trip_itinerary_nav' %>

  <section>
    <div class='my-2 p-2 border-bottom'>
      <h3 class='card-title'>
        <%= @trip.start_date.strftime("%A, %B %d") %>
      </h3>
    </div>
  </section>
  <section class='container'>
    <% @itinerary_items.each do |item| %>
      <%= render partial: 'itinerary_items/item', locals: { item: item } %>
    <% end %>
  </section>
</div>
