<div class="container">

  <%= render partial: 'shared/trip_itinerary_nav' %>

  <section>
    <div class='my-2 p-2 border-bottom'>
      <h3 class='display-5' >
        <%= @date.strftime("%A, %b %d") %>
      </h3>
    </div>
  </section>

  <section class='card rounded-4 bg-light p-3 my-2'>
    <% if @itinerary_items.present? %>
      <% @itinerary_items.each do |item| %>
        <div class="list-group" >
          <%= render partial: 'itinerary_items/item', locals: { item: item } %>
        </div>
      <% end %>
    <% else %>
      <div class="card">
        <h6 class='card-subtitle mb-2 text-body-secondary p-2'>
          Nothing planned yet. 
        </h6>
      </div> 
    <% end %>
  </section>

  <div class="itinerary-footer">
    <%= render partial: 'shared/trip_itinerary_footer' %>
  </div>
</div>
