<div class="bg-dark main-content flex-column">
  <div class="card p-4 bg-white" style="max-width: 520px">
    <h1 class="h1 mb-3 card-title text-center">Update Your Trip</h1>
    <%= render "form", trip: @trip %>
  </div>
  <div class="my-4">
    <div>
      <%= link_to "Back to trips", trips_path, class: "btn btn-secondary"%>
    </div>
  </div>
</div>
