<div class="main-content align-items-start">
  <div class="w-75">
    <% if @trips.any? %>
      <ul class="list-group d-flex flex-column justify-content-center mx-auto" 
      style="max-width: 768px;">
      <h1 class="display-3 text-primary">Your Trips</h1>
        <% @trips.each do |trip| %>
          <%= render partial: 'trip_card', locals: { trip: trip } %>
      <% end %>
      <%= link_to 'Create New Trip', new_trip_path, 
        class: "btn btn-secondary my-2", 
        style: "max-width: 175px" %>
      </ul>
    <% else %>
      <p>No trips have been created yet.</p>
    <% end %>

  </div>
</div>
