<div class="container w-100 min-vh-100 d-flex flex-column justify-content-center align-items-center ">
  <div class="card p-4 bg-white" style="width: 350px">
    <h1 class="h1 mb-3 card-title text-center">Create Your Trip</h1>
    <%= render "form", trip: @trip %>

  </div>
  <div class="my-4">
    <p>  <%= image_tag "plus-circle.svg" %> Add friends to this trip ADD IN FUNCTIONALITY</p>
  </div>
</div>
