<div class="container">
  <%= render partial: 'shared/trip_itinerary_nav' %>
  <section class="my-2 p-2  bg-body-tertiary">
    <h4 class="card-title">Plan Something</h4>
    <%= render partial: 'itinerary_items/form' %>

  </section>

  <section class="my-2 p-2  bg-body-tertiary">
    <h4 class="card-title">Notes</h4>
    <ul class="">
      <li>Implement note taking features</li>
    </ul>
  </section>

  <section class="my-2 p-2 bg-body-tertiary">
    <h4 class="card-title">Places to visit</h4>
    <ul>
       <li>Implement places features linked with Google maps places api</li>
     </ul>
  </section>
</div>
