<div class="container pb-2 mt-3" style="max-width: 720px;">

  <%= render partial: 'shared/trip_itinerary_nav' %>

  <section class="my-2 p-3">
    <div class="row">
      <h4 class='display-2 d-inline-block col-sm-12 col-md-8'>Notes</h4>
      <div class="col-sm-12 col-md-4 d-flex justify-content-sm-center justify-content-md-end align-items-end">
        <%= link_to "Create Note", new_trip_note_path(@trip), 
          class: "btn btn-info text-white",
          style: "width: 150px; height: 40px;" %>
    </div>
    </div>
  </section>

  <section class="my-2 p-3  bg-light card rounded-4">
  <div class="mb-3">
      <h5 class="card-subtitle my-4"> All Notes</h5>
      <div class="list-group ">
        <% if @all_notes.any? %> 
          <% @all_notes.each do |note| %>
            <%= render partial: "notes/note_card", locals: { note: note } %>
          <% end %>
        <% else %>
          <div><p class="ms-3">No notes yet.</p></div>
        <% end %>
      </div>
    </div>
  </section>

  <div class="itinerary-footer">
    <%= render partial: 'shared/trip_itinerary_footer' %>
  </div>
</div>
