<div class="container w-100 min-vh-100 d-flex justify-content-center align-items-center ">
  <div class="p-4 bg-white rounded-4">
    <h1 class="h1 mb-3 text-center card-title">Sign In</h1>
    <%= render "form", session: @session %>
  </div>
</div>
