<div class='container'>

  <%= render partial: 'shared/trip_itinerary_nav' %>

  <section class='my-2'>
    <div class='p-3 m-2 bg-body-tertiary'>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Date</th>
            <th scope="col">Payer</th>
            <th scope="col">Event Name</th>
            <th scope="col">Price</th>
            <th scope="col">Amount Owed</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'debtor_row', locals: { debt: @debtor } %>
        </tbody>
      </table>
    </div>
  </section>

  <section class='my-2'>
    <div class='p-3 m-2 bg-body-tertiary'>
      <h5>Paid</h5>
      <%= render partial: 'form' %>
    </div>
  </section>

</div>
 
 
 
