<div class="main-content bg-dark">
  <div class="card bg-white">
    <div class="card-body text-center bg-white">
    <h1 class="h1 mb-3 card-title text-center">Edit Comment</h1>
    <%= render 'form' %>
  </div>
</div
