<div class="main-content bg-dark">
  <div class="card bg-white p-4" style="max-width: 520px">
    <h1 class="mb-3 text-center">
      <%= @user_trip.user.display_name %>
    </h1>
    <%= render 'form' %>
  </div>
</div>
