<div class="container pb-2 mt-3 flex-grow-1" style="max-width: 720px;">
  <%= render partial: 'shared/trip_itinerary_nav' %>

  <section class='my-2'>
    <div class='p-3 card rounded-4'>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Users</th>
            <th scope="col">Roles</th>
            <th scope="col" class="text-end">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %> 
            <%= render partial: 'member_row', locals: { user: user } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>

</div>


