<div class="main-content bg-body-tertiary min-vh-100">
  <div class="mb-4">
    <h1 class="h1 mb-3 text-center card-title">Change Password</h1>
    <div class="card-body text-center bg-light">
      <%= render "edit_password_form", user: @user %>
    </div>
  </div>
</div>
