<section>
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="card mb-4">
        <div class="card-body text-center bg-light">
          <%= render "form", user: @user %>
          <div class="d-flex justify-content-center mb-2">
              <%= link_to "Back to Profile", user_path(@user),
                class: "btn btn-outline-info ms-1" %>
          </div>
        </div>
      </div>
</section>
