<div class="main-content bg-body-tertiary min-vh-100">
  <div class="card mb-4">
    <div class="card-body text-center bg-light">
      <%= image_tag "male-avatar.png", style: "width: 150px;", 
        class: "rounded-circle img-fluid mx-5" %>
      <div>
        <%= render "edit_form", user: @user %>
      </div>
    </div>
  </div>
</div>

