<div class="main-content bg-dark">
  <div class="card mb-4">
    <div class="card-body text-center bg-white">
      <%= image_tag "person-circle.svg", style: "width: 150px;", 
        class: "rounded-circle img-fluid mx-5" %>
      <div>
        <%= render "edit_form", user: @user %>
      </div>
    </div>
  </div>
</div>

