<section>
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="card mb-4 max-w-2xl">
        <div class="card-body text-center bg-light">
          <%= image_tag "male-avatar.png", style: "width: 150px;", class: "rounded-circle img-fluid mx-5" %>
          <div>
            <%= render "edit_form", user: @user %>
            <div class="d-flex justify-content-center mb-2">
                <%= link_to "Back to Profile", user_path(@user),
                  class: "btn btn-outline-info ms-1",
                  style: "width: 200px" %>
            </div>
          </div>
        </div>
      </div>
</section>
