<div class="container w-100 min-vh-100 d-flex justify-content-center align-items-center ">
  <div class="w-75i card p-2 bg-dark text-light">
  <h1 class="h1 mb-3 card-title">Sign Up</h1>

  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "Back to users", users_path, class: "btn btn-secondary" %>
  </div>
  </div>
</div>
