<div class="bg-dark border-top border-light mt-auto">
  <footer class="d-flex flex-wrap justify-content-between   
    align-items-center p-3 my-2">
    <div class="col-md-4 d-flex align-items-center">
      <span class="ms-0 ms-sm-5 fs-5 text-light">Chris Hildebrand</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled me-0 me-sm-5 d-flex align-items-center">
      <li class="ms-3">
        <a class="text-body-secondary" href="https://github.com/Childebrand94/trip-planner">
          <%= image_tag 'file-earmark-code-fill.svg' %>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.linkedin.com/in/chris-hildebrand-baaa64185/">
          <%= image_tag 'linkedin.svg' %>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://github.com/Childebrand94">
          <%= image_tag 'github.svg' %>
        </a>
      </li>
    </ul>
  </footer>
</div>
