<div class="bg-white border fixed-bottom">
  <footer class="d-flex flex-wrap justify-content-between align-items-center p-3 my-2">
    <div class="col-md-4 d-flex align-items-center">
      <span class="ms-5 text-body-secondary">Chris Hildebrand</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled me-5 d-flex align-items-center">
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.linkedin.com/in/chris-hildebrand-baaa64185/">
          <%= image_tag 'linkedin.svg' %>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://github.com/Childebrand94">
          <%= image_tag 'github.svg' %>
        </a>
      </li>
    </ul>
  </footer>
</div>
