<div>
  <a data-bs-toggle="collapse"
  data-bs-target="#formCollapse" aria-expanded="false" 
  aria-controls="formCollapse">
    <%= image_tag "chevron-down.svg", class: "icon-hover" %>
  </a>
  <div class="collapse multi-collapse" id="formCollapse">
    <%= render partial: form %>
  </div>
</div>

