<div class="home-page d-flex justify-content-center align-items-center">
  <div class="d-flex flex-col justify-content-center align-items-center ">
    <div class="card-body mx-3 bg-transparent rounded-4 p-3">
      <h2 class="display-2 text-white">Welcome to PathFindr</h2>
      <h4 class="card-subtitle text-white lead"> Your Journey awaits.</h4>
      <%= link_to "Start Here", (user_signed_in? ? new_trip_path : login_path), 
        class: "btn btn-outline-light m-4 py-2 px-3 fs-4 lead" %>
    </div>
  </div>
  <%= render partial: 'shared/footer' %>
</div>

