<div class="home-page d-flex justify-content-center align-items-center">
  <div class="d-flex flex-column justify-content-center align-items-center ">
    <div class="card-body mx-3 bg-transparent rounded-4 p-3">
      <h2 class="display-2 text-white">Welcome to PathFindr</h2>
      <h4 class="card-subtitle text-white lead"> Your Journey awaits.</h4>
      <div class="d-flex flex-column justify-content-center flex-sm-row">
        <%= link_to (user_signed_in? ? "Create a Trip" : "Start Here"), 
            (user_signed_in? ? new_trip_path : new_user_path), 
            class: "btn btn-outline-light m-1 py-2 px-3 fs-4 lead" %>

          <% if user_signed_in? %>
            <%= link_to "Your Trips", trips_path,
              class: "btn btn-outline-light m-1 py-2 px-3 fs-4 lead" %>
          <% end %>
        <%= button_to "Demo", login_path, 
          method: :post, 
          params: { 
            user: { 
              email: "demo_user_5@example.com", 
              password: "password" 
            } 
          }, 
          class: "btn btn-light m-1 py-2 px-3 fs-4 lead w-100 text-primary" %>

      </div>
    </div>
  </div>
</div>

