<div class="main-content">
  <section>
    <div class="card p-4">
        <h1 class="h1 mb-3 card-title text-center">
          Update Item
        </h1>
      <%= render 'form' %>
    </div>
  </section>
</div>

