<div>

    <%= render partial: 'shared/trip_itinerary_nav' %>

  <section class="d-flex justify-content-center">
    <div class="p-3 mt-2 rounded-4 w-75 border">
      <h4 class='display-5'>Plan Something</h4>
      <%= render 'itinerary_items/form' %>
    </div>
  </section>

  <section>
    <ul class="list-group list-group-flush" >
    <% @date_range.each do |date| %>
        <%= render partial: 'trips/trip_day', 
          locals: { date: date, trip: @trip} %>
    <% end %>
    </ul
  </section>
</div>
