<div class="container pb-2 mt-3" style="max-width: 720px;">

  <%= render partial: 'shared/trip_itinerary_nav' %>

  <section class="my-2 p-3">
    <div class="row">
      <h4 class='display-2 d-inline-block col-sm-12 col-md-8'>Itinerary</h4>
      <div class="col-sm-12 col-md-4 d-flex justify-content-sm-center justify-content-md-end align-items-end">
        <%= link_to "Create Event", new_trip_itinerary_item_path(@trip), 
          class: "btn btn-info text-white",
          style: "width: 150px; height: 40px;" %>
    </div>
    </div>
  </section>



  <section>
    <div class="list-group" >
      <% @date_range.each do |date| %>
        <%= render partial: 'trips/trip_day', 
          locals: { date: date, trip: @trip} %>
      <% end %>
    </div>
  </section>
</div>
