@import "custom_bootstrap";
@import "rails_bootstrap_forms";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.lift-on-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lift-on-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
.icon-hover {
    transition: transform 0.1s ease;
}

.icon-hover:hover {
    transform: scale(1.1); 
}

.link-hover:hover {
    text-decoration: underline;
}

