@import "custom_bootstrap";
@import "rails_bootstrap_forms";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.lift-on-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lift-on-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
.icon-hover {
    transition: transform 0.1s ease;
}

.icon-hover:hover {
    transform: scale(1.1); 
}

.link-hover:hover {
    text-decoration: underline;
}
.dropdown-menu li:hover {
    background-color: #E9E8E8;
}

.form {
    margin-top: 10rem;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 180px);
    margin-top: 50px;
}

.custom-link:hover {
  background-color: #F8F9FA  
}

.note-filter{
    width:105px;
}

.note-filter:hover{
    background-color: #c1cad3;
}

.home-page{
    position: relative;
    background-image: url('home-page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value to control darkness */
    z-index: 1; /* Ensure this is below your main content */
}

.min-button-width {
  min-width: 100px;
  margin-right: 20px;
}
