<div class='container'>
  <%= render partial: 'shared/trip_itinerary_nav' %>

  <section class='my-2'>
    <div class='p-3 m-2 bg-body-tertiary'>
      <h3 class='card-title'>Add an Expense</h3>
      <%= render 'form' %>
    </div>
  </section>
</div>
