<div class='container'>
  <%= render partial: 'shared/trip_itinerary_nav' %>

  <section class='my-2'>
    <div class='p-3 m-2 bg-white rounded-4'>
      <h4 class='display-5'>Add an Expense</h4>
      <%= render 'form' %>
    </div>
  </section>

  <section class='my-2'>
    <div class='p-3 m-2 bg-white rounded-4'>
      <h4 class='card-title mb-3'>Expenses for this trip</h4>
      <% if @all_expenses.present? %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Date</th>
              <th scope="col">Event Name</th>
              <th scope="col">Price</th>
              <th scope="col">Category</th>
              <th scope="col">Paid</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @all_expenses.each do |expense| %>
              <%= render partial: 'expense_row', locals: { expense: expense } %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No expenses recorded yet.</p>
      <% end %>
    </div>
  </section>
</div>
