<div class="main-content bg-dark">
  <div class="card p-4 bg-white my-3" style="max-width: 520px">
    <h1 class="mb-3 text-center">Create Event</h1>
    <%= render partial: 'form' %>
  </div>
</div>
